.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__grid {
  width: 120%;
  gap: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36px, 2fr));
}

@media screen and (max-width: 768px) {
  .content__grid {
    gap: 8px;
  }
}

.content__row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content__cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  border-radius: 5px;
  border: 2px solid var(--accent);
  background: var(--primary);
}

.content__cell img {
  max-width: 100%;
  cursor: pointer;
}
