.score {
  padding: 12px 36px;
  border-radius: 30px;
  min-width: 345px;
  display: flex;
  justify-content: space-between;
  background: var(--primary);
  box-shadow: 0px 4px 8px 0px rgba(88, 150, 238, 0.40);
}

.score + * {
  margin-top: 36px;
}

.score__item {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 20px;
}

.score__title,
.score__score {
  font-size: 1.8rem;
  font-weight: 400;
}
