.select {
  background: var(--primary_dark);
  padding: 5px 15px;
  border: 1px solid var(--accent);
  border-radius: 30px;
  color: var(--secondary);
  text-transform: lowercase;
  font-size: 1.6rem;
}

.select__option {
  border-radius: 20px;
}

.select__title {
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  display: grid;
  width: 33.3333%;
}

@media screen and (max-width: 768px) {

  .select__title {
    width: 100%;
  }
}