.select {
  background: var(--primary_dark);
  padding: 5px 15px;
  border: 1px solid var(--accent);
  border-radius: 30px;
  color: var(--secondary);
  text-transform: lowercase;
  font-size: 1.6rem;
}

.select__option {
  border-radius: 20px;
}

.select__title {
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  display: grid;
  width: 33.3333%;
}

.select__title--mute-mod {
  background: url("../assets/images/icon-mute-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid var(--accent);
  width: 36px;
  height: 20px;
  transition: 0.3s ease-in-out;
}

.select__title--mute-mod.active {
  background: url("../assets/images/icon-mute-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select__title--mute-mod:hover {
  box-shadow: 0 0 5px 2px var(--buttons);
}

.select__title--mute-mod input {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .select__title {
    width: 100%;
  }
}
